/* line 1, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-checkbox {
  top: -1px;
  width: 13px;
  height: 13px;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) repeat-x;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  vertical-align: middle;
  cursor: pointer;
}

/* line 12, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-checkbox.checked .jq-checkbox__div {
  width: 9px;
  height: 9px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: #666;
  box-shadow: inset 0 -3px 6px #AAA;
}

/* line 20, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-checkbox.focused {
  border: 1px solid #08C;
}

/* line 23, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-checkbox.disabled {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

/* line 29, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-radio {
  width: 12px;
  height: 12px;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) 0 -1px repeat-x;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  vertical-align: middle;
  cursor: pointer;
}

/* line 39, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-radio.checked .jq-radio__div {
  width: 6px;
  height: 6px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #666;
}

/* line 46, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-radio.focused {
  border: 1px solid #08C;
}

/* line 49, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-radio.disabled {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

/* line 55, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file {
  width: 270px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* line 60, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file input {
  cursor: pointer;
  height: auto;
  line-height: 1em;
}

/* line 65, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file__name {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 80px 0 10px;
  color: #333;
  font: 14px/30px Arial, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1;
  background: #FFF;
}

/* line 82, ../../dev/sass/plugins/_jquery.formstyler.scss */
.focused .jq-file__name {
  border: 1px solid #5794BF;
}

/* line 85, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px/30px Arial, sans-serif;
}

/* line 98, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file:hover .jq-file__browse {
  background-color: #E6E6E6;
  background-position: 0 -10px;
}

/* line 102, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}

/* line 106, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file.disabled .jq-file__name {
  color: #888;
}

/* line 109, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 118, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}

/* line 122, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__select {
  height: 30px;
  padding: 0 45px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #F5F5F5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px/30px Arial, sans-serif;
}

/* line 134, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__select:hover {
  background-color: #E6E6E6;
  background-position: 0 -10px;
}

/* line 138, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__select:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}

/* line 142, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794BF;
}

/* line 145, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 151, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 158, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox .placeholder {
  color: #888;
}

/* line 161, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #CCC;
}

/* line 169, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 182, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 186, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 190, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__dropdown {
  top: 33px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif;
}

/* line 203, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__search {
  margin: 5px;
}

/* line 206, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__search input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 3px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield;
}

/* line 220, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 224, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}

/* line 230, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

/* line 234, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  white-space: nowrap;
  color: #231F20;
}

/* line 245, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}

/* line 249, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF;
}

/* line 253, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li.disabled {
  color: #AAA;
}

/* line 256, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li.disabled:hover {
  background: none;
}

/* line 259, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li.optgroup {
  font-weight: bold;
}

/* line 262, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

/* line 267, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-selectbox li.option {
  padding-left: 25px;
}

/* line 272, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #FFF;
  color: #333;
  font: 14px/18px Arial, sans-serif;
  cursor: default;
}

/* line 285, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}

/* line 288, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 294, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

/* line 298, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
}

/* line 308, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}

/* line 311, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}

/* line 314, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}

/* line 318, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple li.disabled {
  color: #AAA;
}

/* line 321, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}

/* line 326, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple li.optgroup {
  font-weight: bold;
}

/* line 329, ../../dev/sass/plugins/_jquery.formstyler.scss */
.jq-select-multiple li.option {
  padding-left: 25px;
}

/* line 334, ../../dev/sass/plugins/_jquery.formstyler.scss */
input[type="email"].styler,
input[type="number"].styler,
input[type="password"].styler,
input[type="search"].styler,
input[type="tel"].styler,
input[type="text"].styler,
input[type="url"].styler,
textarea.styler {
  padding: 7px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  font: 14px Arial, sans-serif;
}

/* line 350, ../../dev/sass/plugins/_jquery.formstyler.scss */
input[type="search"].styler {
  -webkit-appearance: none;
}

/* line 353, ../../dev/sass/plugins/_jquery.formstyler.scss */
textarea.styler {
  overflow: auto;
}

/* line 356, ../../dev/sass/plugins/_jquery.formstyler.scss */
input[type="email"].styler:hover,
input[type="number"].styler:hover,
input[type="password"].styler:hover,
input[type="search"].styler:hover,
input[type="tel"].styler:hover,
input[type="text"].styler:hover,
input[type="url"].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3;
}

/* line 366, ../../dev/sass/plugins/_jquery.formstyler.scss */
input[type="email"].styler:focus,
input[type="number"].styler:focus,
input[type="password"].styler:focus,
input[type="search"].styler:focus,
input[type="tel"].styler:focus,
input[type="text"].styler:focus,
input[type="url"].styler:focus,
textarea.styler:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* line 379, ../../dev/sass/plugins/_jquery.formstyler.scss */
button.styler,
input[type="button"].styler,
input[type="submit"].styler,
input[type="reset"].styler {
  overflow: visible;
  padding: 7px 11px;
  outline: none;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px Arial, sans-serif;
  cursor: pointer;
}

/* line 396, ../../dev/sass/plugins/_jquery.formstyler.scss */
button.styler::-moz-focus-inner,
input[type="button"].styler::-moz-focus-inner,
input[type="submit"].styler::-moz-focus-inner,
input[type="reset"].styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 403, ../../dev/sass/plugins/_jquery.formstyler.scss */
button.styler:after {
  content: '';
}

/* line 406, ../../dev/sass/plugins/_jquery.formstyler.scss */
button.styler:not([disabled]):hover,
input[type="button"].styler:not([disabled]):hover,
input[type="submit"].styler:not([disabled]):hover,
input[type="reset"].styler:hover {
  background-color: #E6E6E6;
  background-position: 0 -10px;
}

/* line 413, ../../dev/sass/plugins/_jquery.formstyler.scss */
button.styler:not([disabled]):active,
input[type="button"].styler:not([disabled]):active,
input[type="submit"].styler:not([disabled]):active,
input[type="reset"].styler:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}

/* line 420, ../../dev/sass/plugins/_jquery.formstyler.scss */
button.styler[disabled],
input[type="button"].styler[disabled],
input[type="submit"].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/**
* @section Form
*/
/* line 5, ../../dev/sass/blocks/_b-form.scss */
.l-form {
  margin-top: 150px;
}

/* line 8, ../../dev/sass/blocks/_b-form.scss */
.b-form {
  position: relative;
  margin: 0 auto;
  padding: 40px 50px 50px;
  width: 327px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  box-shadow: 0 1px 0 #dbdbdb;
  text-align: center;
  font: 13px 'Open Sans', sans-serif;
}
/* line 19, ../../dev/sass/blocks/_b-form.scss */
.b-form__controls {
  margin-top: 20px;
  text-align: left;
}
/* line 23, ../../dev/sass/blocks/_b-form.scss */
.b-form__controls:first-child {
  margin-top: 0;
}
/* line 27, ../../dev/sass/blocks/_b-form.scss */
.b-form__field {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  height: 45px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
}
/* line 39, ../../dev/sass/blocks/_b-form.scss */
.b-form__field:focus {
  outline: none;
  border-color: #6aaddb;
  box-shadow: 0 0 20px #6aaddb;
  box-shadow: 0 0 20px rgba(106, 173, 219, 0.3);
}
/* line 46, ../../dev/sass/blocks/_b-form.scss */
.b-form__link {
  display: inline-block;
  margin-top: 20px;
  color: #3c90be;
  text-decoration: none;
}
/* line 51, ../../dev/sass/blocks/_b-form.scss */
.b-form__link:hover {
  text-decoration: underline;
}
/* line 55, ../../dev/sass/blocks/_b-form.scss */
.b-form__button {
  display: block;
  width: 100%;
  height: 47px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #3c90be;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font: 600 16px/47px 'Open Sans', sans-serif;
  cursor: pointer;
  transition: background-color .2s;
}
/* line 70, ../../dev/sass/blocks/_b-form.scss */
.b-form__button:hover {
  background-color: #327fa8;
}
/* line 74, ../../dev/sass/blocks/_b-form.scss */
.b-form__button.-color_light {
  background-color: #ebf4f8;
  color: #1a171b;
}
/* line 78, ../../dev/sass/blocks/_b-form.scss */
.b-form__button.-color_light:hover {
  background-color: #b6d6e5;
}
/* line 83, ../../dev/sass/blocks/_b-form.scss */
.b-form__footer {
  margin-top: 24px;
  padding-top: 25px;
  border-top: 1px solid #ededed;
}

/*# sourceMappingURL=main.css.map */
